.outer-layer {
  background: url("../../assets/hero/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3980ff;
  border-radius: 20px;
  margin-top: 17px;
}
